article {
  position: relative;
}
.room-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.room-list-wrapper .card {
  margin: 1.3em 2.5em;
  /* margin-bottom: 7em; */
}
