/* :root{
    --laptop:1024px;
    --tablet:768px;
    --desktop:1200px;
    --phone:480px;
} */
/* html{
    font-size:62.5%;
} */
/* html {
  min-height: 100%;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #000000;
}
footer {
  width: 100%;
}
a {
  color: black;
}
.footerLinks {
  margin-top: 1em;
  padding: 0.8em;
  background: linear-gradient(45deg, #ce0505, #a00641, #b90ba2);
}
.footerContainer {
  /* margin-right: auto;
    margin-left: auto; */
  padding: 1em 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.footerContainer a {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  padding: 0.3rem 0.3rem;
  text-decoration: none ;
  color: #000000;
}
.footerContainer a:hover {
  color: #4400ff;
  transition: all 0.15s ease-in-out;
  transform:scale(1.1);
}

.footerContainer p {
  font-size: 1.3rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:0.3rem;
  /* justify-content: space-evenly; */
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75em;
}
@media (width<=480px) {
  .footerContainer a {
    font-size: 1.05rem;
    padding: 0.1em;
  }
  .footerContainer p {
    font-size: 1rem;
    padding: 0;
  }
}
@media (width<=333px) {
  .links {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin-top: 0.75em;
    font-size:0.9rem
  }
}
/* 
.hancy{
    background-color: red;
}
.hancy:hover{
    background-color: green;
  }
  .footerContainer{
      display: flex;
      justify-content: center;
    }
  */
